<template>
    <div class="hero is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <!-- <img src="../../../public/assets/header.jpg" class="gambarheader"> -->
        </div>
      </div>
    </div>
</template>

<style lang="scss" scoped>
    .hero {
      background-image: url("../../../public/assets/header.jpg");
      height: 20rem;
      margin-bottom: 15px;
    }
    h1, h2 {
      color: #fff;
    }
</style>