<template>
  <div class="footer">
    <div class="columns container">
      
    </div>
  </div>
</template>

<script>
export default {
  name: 'footer-component',
}
</script>

<style lang="scss" scoped>
 .footer {
   background: #b9e2fc;
   color: black;
   margin-top: 15px;
 }
</style>
